<%_ /* Created by Andrew Lin on Jan 2018. */ -%>
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/">首頁</a>
    <a href="/logout">登出</a>
    <form action="/edit_message_action/<%- result._id %>" method="post">
        <%_ /* 帳號 */ -%>
        <label>帳號：<%- result.account %></label><br>
        <%_ /* 文章內容 */ -%>
        <label>內容：</label>
        <input type="text" name="content" value="<%- result.content %>"><br>
        <input type="submit" value="修改">
    </form>
  </body>
</html>
