<%_ /* Created by Andrew Lin on Jan 2018. */ -%>
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/">首頁</a>
    <a href="/register">註冊</a>
    <form action="/login_action" method="post">
        <%_ /* 帳號 */ -%>
        <label>帳號：</label>
        <input type="text" name="account"><br>
        <%_ /* 密碼 */ -%>
        <label>密碼：</label>
        <input type="password" name="password"><br>
        <input type="submit" value="登入">
    </form>
  </body>
</html>
