body {
  font-family: "jf open 粉圓 1.0", "微軟正黑體", "Lucida Grande", Helvetica, Arial, sans-serif;
  /*background: #fff url('../../assets/img/ncudoor.jpg') center top no-repeat;*/
  background-size: cover;
  background-position: center;
}

